apiVersion: apps/v1
kind: Deployment
metadata:
  name: synapse-web
  namespace: synapse
spec:
  replicas: 1
  selector:
    matchLabels:
      app: synapse-web
  template:
    metadata:
      labels:
        app: synapse-web
    spec:
      containers:
        - name: web
          image: registry.digitalocean.com/shtrial-reg/synapse-web:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_CDN_BASE_URL
              value: "https://sh-storage.nyc3.cdn.digitaloceanspaces.com/synapse"
            - name: NEXT_PUBLIC_API_URL
              value: "https://api.synapse.shtrial.com"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: synapse-api
  namespace: synapse
spec:
  replicas: 1
  selector:
    matchLabels:
      app: synapse-api
  template:
    metadata:
      labels:
        app: synapse-api
    spec:
      containers:
        - name: api
          image: registry.digitalocean.com/shtrial-reg/synapse-api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4000
          env:
            - name: PORT
              value: "4000"
            - name: DATABASE_URL
              value: "postgresql://doadmin:AVNS_YjWXReTbi5Epp6MzXjq@private-sh-shared-postgres-do-user-29516566-0.f.db.ondigitalocean.com:25060/synapse?sslmode=require"
            - name: DO_SPACES_KEY
              value: "DO00LMB24WZXVCMK6G22"
            - name: DO_SPACES_SECRET
              value: "iF+p6XAKezSNNCKsIB3f0XGS+6/gmDE+8VPZCyyBU1o"
            - name: DO_SPACES_BUCKET
              value: "sh-storage"
            - name: DO_SPACES_ENDPOINT
              value: "https://nyc3.digitaloceanspaces.com"
            - name: DO_SPACES_REGION
              value: "nyc3"
            - name: APP_STORAGE_PREFIX
              value: "synapse"
            - name: DIGITALOCEAN_INFERENCE_ENDPOINT
              value: "https://inference.do-ai.run/v1"
            - name: DIGITALOCEAN_MODEL_KEY
              value: "sk-do-uthd1l4FYE-EUeITacHO9LHOFFJnHdVNdio21yT07SwyDyg3yIa0ip4dOa"
            - name: AI_MODEL
              value: "llama-3.1-70b-instruct"
            - name: AI_GPU_GATEWAY_URL
              value: "http://ai-gpu-gateway.ai-gpu.svc.cluster.local:80"
            - name: FRONTEND_URL
              value: "https://synapse.shtrial.com"

