apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  namespace: ${APP_SLUG}
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  tls:
    - hosts:
        - ${APP_SLUG}.${APP_DOMAIN_BASE}
        - api.${APP_SLUG}.${APP_DOMAIN_BASE}
      secretName: app-tls
  rules:
    - host: ${APP_SLUG}.${APP_DOMAIN_BASE}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web
                port:
                  number: 80
    - host: api.${APP_SLUG}.${APP_DOMAIN_BASE}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: api
                port:
                  number: 80

